<template>
    <member-form/>
</template>

<script>
import MemberForm from "../../../member/MemberForm";

export default {
    name: "member-create-page",
    components: {MemberForm},
}
</script>

<style scoped>

</style>
