<template>
    <order-form/>
</template>

<script>
import OrderForm from "../../../order/OrderForm";

export default {
    name: "order-create-page",
    components: {OrderForm},
}
</script>

<style scoped>

</style>
