<template>
    <div>
        <form novalidate class="md-layout" @submit.prevent="validateMember">
            <md-card class="md-layout-item md-size-100 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Create order</div>
                </md-card-header>

                <md-card-content>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('name')">
                                <label for="name">Name</label>
                                <md-input name="name" id="name" autocomplete="given-name"
                                          v-model="form.name" :disabled="sending" required/>
                                <span class="md-error"
                                      v-if="isError('name', 'required') || !$v.form.name.required">The name is required
                                </span>
                                <span class="md-error"
                                      v-else-if="!$v.form.name.minlength || isError('name', 'minlength')">Name be more than 2 characters
                                </span>
                                <span class="md-error"
                                      v-else-if="!$v.form.name.maxlength || isError('name', 'maxlength')">Name name must be less than 12 characters
                                </span>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('phone')">
                                <label for="phone">Phone Number</label>
                                <md-input name="phone" id="phone"
                                          v-model="form.phone" :disabled="sending" required/>
                                <span class="md-error"
                                      v-if="!$v.form.phone.required || isError('phone', 'required')">The phone number is required
                                </span>
                                <span class="md-error"
                                      v-else-if="!$v.form.phone.minlength || isError('phone', 'minlength')">Phone Number must be more than 2 characters
                                </span>
                                <span class="md-error"
                                      v-else-if="!$v.form.phone.maxlength || isError('phone', 'maxlength')">Phone Number must be less than 12 characters
                                </span>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('name')">
                                <label for="text">Text</label>
                                <md-input name="text" id="text" autocomplete="given-name"
                                          v-model="form.text" :disabled="sending" required/>
                                <span class="md-error"
                                      v-if="isError('text', 'required') || !$v.form.text.required">The text is required
                                </span>
                                <span class="md-error"
                                      v-else-if="!$v.form.text.minlength || isError('text', 'minlength')">Text be more than 2 characters
                                </span>
                            </md-field>
                        </div>
                    </div>
                    <md-radio v-model="form.saveType" value="storeDb">Save to db</md-radio>
                    <md-radio v-model="form.saveType" value="storeFile">Save to file</md-radio>

                </md-card-content>

                <md-progress-bar md-mode="indeterminate" v-if="sending"/>

                <md-card-actions md-alignment="space-between" class="s-md-content-center">
                    <md-button type="submit" class="md-primary" :disabled="sending || !formFilled">create order
                    </md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</template>

<script>
import {validationMixin} from 'vuelidate'
import {
    required,
    minLength,
    maxLength
} from 'vuelidate/lib/validators';

export default {
    name: "member-form",
    mixins: [validationMixin],
    props: {
        formData: {
            type: Object, default: () => {
            }
        }
    },
    computed: {
        formFilled() {
            const values = _.values(this.form);
            return values.filter(el => !!el).length === values.length;
        }
    },
    data() {
        return {
            form: {
                name: '',
                phone: '',
                text: '',
                saveType: 'storeDb'
            },
            sending: false,
            errors: {},
        }
    },
    watch: {
        formData: function (value) {
            this.formInputAssign(value);
        },
    },
    validations: {
        form: {
            name: {
                required,
                minLength: minLength(2),
                maxLength: maxLength(12)
            },
            phone: {
                required,
                minLength: minLength(2),
                maxLength: maxLength(12)
            },
            text: {
                required,
                minLength: minLength(2)
            }
        }
    },
    methods: {
        formInputAssign(value) {
            this.form = value;
        },
        getValidationClass(fieldName) {
            const field = this.$v.form[fieldName]
            if (field) {
                return {
                    'md-invalid': (field.$invalid && field.$dirty) || (this.errors && this.errors[fieldName])
                }
            }
            return false;
        },
        clearForm() {
            this.$v.$reset()
            const formKeys = _.keys(this.form);
            formKeys.forEach((key) => {
                this.form[key] = '';
            });
        },
        saveMember() {
            const t = this;
            t.sending = true;

            axios.post('/api/v1/order', this.form, {
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                }
            }).then(response => {
                this.sending = false
                this.clearForm()
            }).catch(error => {
                if (error.response && error.response.data.errors) {
                    t.errors = _.cloneDeep(error.response.data.errors);
                }
            });
        },
        validateMember() {
            this.$v.$touch()
            //
            if (!this.$v.$invalid) {
                this.saveMember()
            }
        },
        isError(field, rule) {

            if (this.errors && this.errors[field]) {
                const finded = this.errors[field].filter(ruleBack => {
                    return ruleBack[rule];
                });
                return finded.length;
            }

            return false;
        }
    }
}
</script>

<style scoped>

.s-md-content-center {
    justify-content: center;
}

.s-checkbox .md-error {
    opacity: 0;
}

.s-checkbox.md-invalid .md-error {
    color: var(--md-theme-default-fieldvariant, #ff1744);
    opacity: 1;
    transform: translateZ(0);
    height: 20px;
    position: absolute;
    font-size: 12px;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
}

.s-checkbox.md-invalid label {
    color: var(--md-theme-default-fieldvariant, #ff1744);
}

.s-height {
    height: 70px
}

</style>
