<template>
    <div class="col-6">
        <div class="col-6">
            <md-card v-for="(item, index) in items" :key="index">
                <md-card-header>
                    <a :href="`/member/show/${item.id}`">
                        <md-card-header-text>
                            <div class="md-title">{{ item.first_name }}</div>
                            <div class="md-subhead">{{ item.last_name }}</div>
                        </md-card-header-text>
                    </a>

                    <md-card-media md-medium>
                        <img src="/img/avatar.png" alt="People">
                    </md-card-media>
                </md-card-header>

                <md-card-content>
                    <md-list>
                        <a :href="`mailto: ${item.email}`">
                            <span class="md-list-item-text">Sent Mail</span>
                        </a>
                    </md-list>
                </md-card-content>

                <md-card-actions>
                    <md-button @click="deleteItem(item.id)" class="md-fab md-plain">
                        <md-icon>delete</md-icon>
                    </md-button>
                    <md-button :href="`/member/edit/${item.id}`" class="md-fab md-plain">
                        <md-icon>edit</md-icon>
                    </md-button>
                    <md-switch v-model="item.on_vacation" class="md-primary"
                               @change="update(item.id, item.on_vacation)">On
                        vacation
                    </md-switch>
                </md-card-actions>
            </md-card>
        </div>
    </div>


</template>

<script>
export default {
    name: "members-page",
    data() {
        return {
            items: []
        }
    },
    async mounted() {
        await this.getList()
    },
    methods: {
        async getList() {
            axios.get('/api/v1/member/list').then(response => {
                this.items = response.data;
            }).catch(error => {
                // debugger
                console.log(error.response);
            });
        },
        async update(id, onVacation) {
            const data = {on_vacation: onVacation};
            axios.put(`/api/v1/member/${id}`, data).then(response => {
                const member = response.data;
                const itemIndex = this.items.findIndex(item => item.id === member.id);
                if (itemIndex !== -1) {
                    this.items[itemIndex].on_vacation = member.on_vacation;
                }
            }).catch(error => {
                console.log(error.response);
            });
        },
        async deleteItem(id) {
            axios.delete(`/api/v1/member/${id}`)
                .then(response => {
                    this.getList();
                }).catch(error => {
                console.log(error.response);
            });
        }

    }

}
</script>

<style scoped>
.md-card {
    width: 100%;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}

small {
    display: block;
}

</style>
