<template>
	<transition name="fade">
        <div class="md-layout md-gutter md-alignment-center">
            <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <div class="md-layout md-gutter md-alignment-center">
                    <navbar/>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <router-view></router-view>
                </div>
            </div>
        </div>
	</transition>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .1s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>

<script>
    import Navbar from "./menus/Navbar";

    export default{
        components: {Navbar}
    }
</script>
