<template>
    <div>
        <form novalidate class="md-layout">
            <div class="md-layout-item md-size-100 md-small-size-100">
                <div>
                    <div class="md-title">View Member</div>
                </div>

                <div>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <div>
                                <label>First Name</label>
                                <span>{{ form.first_name }}</span>
                            </div>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                            <div>
                                <label>Last Name</label>
                                <span>{{ form.last_name }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <div>
                                <label>Phone Number</label>
                                <span>{{ form.phone }}</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label>Email Address</label>
                        <span>{{ form.email }}</span>
                    </div>

                </div>
            </div>
        </form>
    </div>
</template>

<script>

export default {
    name: "member-view",
    props: {
        formData: {type: Object, default: () => {}}
    },
    data() {
        return {
            form: {
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                confirmEmail: '',
                password: '',
                confirmPassword: '',
                agree: false,
                subscribe: false,
            }
        }
    },
    watch: {
        formData: function (value) {
            this.formInputAssign(value);
        },
    },
    methods: {
        formInputAssign(value) {
            this.form = value;
        }
    }
}
</script>

<style scoped>

.s-md-content-center {
    justify-content: center;
}

.s-checkbox .md-error {
    opacity: 0;
}

.s-checkbox.md-invalid .md-error {
    color: var(--md-theme-default-fieldvariant, #ff1744);
    opacity: 1;
    transform: translateZ(0);
    height: 20px;
    position: absolute;
    font-size: 12px;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
}

.s-checkbox.md-invalid label {
    color: var(--md-theme-default-fieldvariant, #ff1744);
}

.s-height {
    height: 70px
}

</style>
